<script src="/socket.io/socket.io.js"></script>
<script src="js/character-pages.js" charset="utf-8"></script>
<h3>Chat About Your Favorite Characters!</h3>
<form action="" class="chat-app">
  <%if (loggedIn) {%>
    <input id="m" userName="<%=userName%>" autocomplete="off" /><button>Send</button>
  <%} else {%>
    <input id="m" userName="Anonymous" autocomplete="off" /><button>Send</button>
  <%}%>
</form>
<ul id="messages"></ul>
