<form action="/login" method="post">
        <input type="text" name="username" placeholder="Username"><br/>
        <input type="text" name="email" placeholder="Email Address"><br/>
        <input type="password" name="password" placeholder="Password"><br/>
        <button type="submit" class="button submit" >Login</button>
</form>