<script src="/js/signup.js" charset="utf-8"></script>

<h1 id="signup-header">Signup</h1>

<div class="signup-form">
  <form id="signup-form" action="/signup" method="post">
    <input type="text" name="username" placeholder="Username"><br/>
    <input type="text" name="email" placeholder="Email Address"><br/>
    <input type="password" name="password" placeholder="Password"><br/>
    <select name="comicSide">
      <option value="marvel">Marvel</option>
      <option value="dc">DC</option>
    </select><br/>
  </form>
  <button id="signup-button" class='button submit'>Signup</button>
</div>

