<% for (var i=0; i < data.length; i++) {
  var itemId = data[i].page_id; %>
  <div class="card-container h">
      <div class="front">
        <!--<%= data[i].name %>-->
        <img class='index-image' src="<%= apiResults.items[itemId].thumbnail %>" alt="" />
      </div>
      <div class="back">
        <div class='character-container-card'>
          Back
        </div>
      </div>
  </div>
<% } %>