
<div class="nav-bar">
  <% if(loggedIn) {%>
    <a href="/" class="nav-bar-button">Home</a>
    <a href="/profile/<%= userName %>" class="nav-bar-button">Profile</a>
  <% } %>
  <% if(!loggedIn) {%>
    <a href="/" class="nav-bar-button">Home</a>
    <a href="/signup" class="nav-bar-button">Signup</a>
  <% } %>
  <a href="/marvel" class="nav-bar-button">Marvel Characters</a>
  <a href="/dc" class="nav-bar-button">DC Characters</a>
  <a href="/about" class="nav-bar-button">About</a>
  <% if(!loggedIn) {%>
    <a href="/login" class="nav-bar-button">Login</a>
  <% } %>
  <% if(loggedIn) {%>
    <a href="/logout" class="nav-bar-button">Logout</a>
  <% } %>
</div>

