<div class="nav-bar">
  <% if(loggedIn) {%>
  <li><a href="/">Home</a></li>
  <li><a href="/logout">Logout</a></li>
  <% } %>
  <% if(!loggedIn) {%>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/login">Login</a></li>
  <% } %>
</div>