<section class="character-section-marvel" style="width: 85%">
  <p class="character-section-paragraph-marvel">
    The work to scrape the data was done by FiveThirtyEight and
    the corresponding article can be found <a href="http://fivethirtyeight.com/features/women-in-comic-books/">here</a>
  </p>
  <p class="character-section-paragraph-marvel">
    While the work is cited in the article above, most of the
    data comes from the <a href="https://dc.wikia.com">dc.wikia.com</a>
    and <a href="https://marvel.wikia.com">marvel.wikia.com</a> website
    and the corresponding public APIs.
  </p>
  <p class="character-section-paragraph-marvel">
    It is important to note that the data was pulled in 2014 and there could be differences/updates since then that
    are not 100% reflected.
  </p>
</section>