<!-- Layout Template -->
<!-- Include the header partial -->
<% include ./partials/headerPartial.ejs %>
<!-- Include the body -->
<div class="body-container">
	<%- body %>
</div>
<!-- Include the footer partial  -->
<% include ./partials/footerPartial.ejs %>
<%- script %>
