
@font-face {
  font-family: 'Code';
  src: url('/fonts/CODELight.otf')
}

@font-face {
  font-family: 'Code';
  font-weight: bold;
  src: url('/fonts/CODEBold.otf');
}

@font-face {
  font-family: 'Marvel';
  src: url('/fonts/modi_thorson/modithorsoncond.ttf');
}

@font-face {
  font-family: 'DC';
  src: url('/fonts/batmfa__.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0 auto;
  font-size: 14px;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  background-color: #454545;
  margin-bottom: .2em;
  font-family: 'Code', sans-serif;;
  text-align: center;
  color: white;
}

h1 {
  font-size: 2em;
}


input {
  border: solid 1px black;
  background-color: transparent;
  padding: 10px;
  margin: .1em;
  font-family: 'Code', sans-serif;
  height: 3em;
  color: white;
  font-size: 1em;
  text-align: center;
}

button {
  height: 3em;
  border: solid 1px black;
  background-color: transparent;
  color: white;
  font-family: 'Code', sans-serif;
  font-size: 1em;
}

.ui-autocomplete {
  width: 10%;
}
.ui-menu, .ui-menu-item {
  position: relative;
  margin: 0;
  padding: 3px 1em 3px .4em;
  cursor: pointer;
  min-height: 0;
  list-style: none;
  background-color: black;
  font-size: .4em;
}

.login-container button, button a {
  width: 45%;
  border-radius: 5px;
  text-decoration: none;
  font-size: inherit;
}

button:hover {
  cursor: pointer;
  color: #51b0d7;
  border-color: #51b0d7;
}


.nav-bar {
  width: 100%;
  border-bottom: solid 1px #51b0d7;
}

.nav-bar-button {
  display: flex;
  border-top: solid 1px #51b0d7;
  height: 1.5em;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  font-size: 1.3em;
}

.nav-bar:first-child {
  border-left: 0px;
}

.nav-bar:nth-child(even) {
  border-left: 0px;
}

.nav-bar-button:hover {
  cursor: pointer;
  color: #4ed4b3;
}

.body-container {
  padding-top: .3em;
}

a {
  color: #51b0d7;
  text-decoration: none;
}

a:hover {
  color: #4ed4b3;
}

.login-container {
  max-width: 40%;
  overflow: hidden;
  background-color: transparent;
  position: relative;
  z-index: 10000;
  transform: translateY(1em);
}

.login-container input {
  width: 93%;
  border-radius: 5px;
}

.content-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 12em;
}

.hero-side {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.marvel {
  background: #ba3232;
  color: white;
}

.dc {
  background: #003F5E;
  color: white;
}

.marvel-favorites {
  background: #ba3232;
  margin-top: 2em;
}

.dc-favorites {
  background: #003F5E;
}

.hero-side:hover {
  cursor: pointer;
}

.marvel-text {
  font-family: 'Marvel', sans-serif;
}

.dc-text {
  font-family: 'DC', sans-serif;
}

h2 {
  font-size: 3em;
  z-index: 1000;
}

.image-container-marvel, .image-container-dc {
  width: 50%;
  position: absolute;
  overflow: hidden;
  height: 100%;
  text-align: center;
  opacity: 0.3;

}

.image-container-marvel img, .image-container-dc img {
  min-height: 100%;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
}

.marvel:hover {
  background: #942828;
}

.dc:hover {
  background: #002c41;
}

.index-image {
  border: solid 1px black;
  max-width: 100%;
  border-radius: 20px;
  margin-bottom: .2em;
}

.card-container-mini .index-image {
  border-radius: 5px;
}

.back {
  display: none;
}

.remove-button {
  display: flex;
  position: absolute;
  height: 25px;
  padding-left: .3em;
}

.button-remove {
  height: 25px;
  width: 100%;
  text-align: right;
  border: none;
  font-weight: bold;
  padding-right: 2px;
}

.marvel-favorites, .dc-favorites {
  height: 8em;
  border: solid 1px black;
  margin-bottom: .2em;
  overflow: scroll;
  padding: 10px;
  border-radius: 10px;

}

.signup-form {
  width: 85%;
  background: #c3c3c3;
  height: 75%;
  padding: .4em;
  border-radius: 10px;
  border: solid 1px black;
  color: black;
}

.signup-form button, .signup-form select, .signup-form input {
  color: black;
  width: 50%;
  height: 3em;
  border: solid 1px black;
  margin-bottom: .3em;
  border-radius: 5px;
}

#favorites {
  width: 25%;
  float: left;
  height: 25%;
  overflow: scroll;
  background: #6c7b8b;
  transform: translateY(-.3em);
  padding-top: .3em;
  border-right: solid black 1px;
  border-bottom: solid black 1px;
}

.profile-info {
  float: left;
  width: 25%;
  transform: translateY(-.3em);
  background: #b4b4b4;
  height: 75%;
  padding-top: .2em;
  border-right: solid 1px black;
  font-size: 1em;
}

#favorite-button {
  border: 0px;
  color: white;
  font-weight: bold;
}

#favorite-button:hover {
  cursor: pointer;
  color: #51b0d7;
}

.favorites-header {
  width: 100%;
  position: absolute;
  font-size: 1em;
}

#profile-container {
  background: #454545;
  height: 100%;
  transform: translateY(-.3em);
  float: right;
  width: 75%;
}

.edit-profile input {
  width: 85%;
  height: 1.2em;
  border-radius: 5px;
  margin-bottom: .2em;
}
.edit-profile label {
  font-size: .7em;
  width: 100%;
  text-align: center;
}

.no-border {
  border: none;
  color: black;
  font-size: .7em;
}

.edit-button {
  width: 75%;
  height: 1.4em;
  font-size: 1em;
  padding: 2px;
  border: solid 1px gray;
  margin-top: .2em;
  margin-bottom: .2em;
}

.edit-button-submit {
  width: 75%;
  height: 1.4em;
  font-size: 1em;
  padding: 2px;
  border: solid 1px gray;
  margin-top: .2em;
  margin-bottom: .2em;
}

.edit-button-submit:hover {
  border-color: inherit;
  color: inherit;
}

.character-info-container {
  padding: 5px;

}

.character-section-marvel,.character-section-dc  {
  background: #c3c3c3;
  border-radius: 5px;
  border: solid 1px black;
  padding: 5px;
  margin-bottom: .4em;
}

.character-section-header-marvel {
  color: #ba3232;
  font-family: 'Marvel', 'Code', sans-serif;
  font-size: 1.3em;
  margin-bottom: .2em;
}

.character-section-header-marvel-large {
  color: #ba3232;
  font-family: 'Marvel', 'Code', sans-serif;
  font-size: 3em;
  margin-bottom: .2em;

}

.character-section-header-dc {
  color: #003F5E;
  font-family: 'DC', 'Code', sans-serif;
  font-size: 1.3em;
  margin-bottom: .2em;

}

.character-section-header-dc-large {
  color: #003F5E;
  font-family: 'DC', 'Code', sans-serif;
  font-size: 3em;
}

.character-thumbnail {
  border-radius: 5px;
  border: solid 1px black;
}

.character-section-paragraph-marvel, .character-section-paragraph-dc {
  margin-bottom: .4em;
  text-align: left;
  font-size: .8em;
  color: black;
  font-weight: bold;
  line-height: 1.2;
}

select {
  font-family: 'Code', sans-serif;
  width: 75%;
  height: 1.2em;
  background: transparent;
  border: none;
}

.gif-logo img {
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

@media (min-width: 600px) {

  * {
    font-size: 16px;
  }

  .content-container {
    position: absolute;;
    top: 2em;
  }

  .signup-form {
    width: 50%;
  }

  #favorites {
    display: flex;
  }

  .marvel-favorites, .dc-favorites {
    width: 45%;
    box-shadow: 0 0 2px gray;
    margin-top: 2em;
  }

  .nav-bar {
    width: 100%;
    height: 2em;
    border-bottom: solid 1px #51b0d7;
  }

  .nav-bar-button {
    border-top: none;

    display: flex;
    float: left;
    border-right: solid 1px #51b0d7;
    width: 15%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }


  .back {
    display: block;
    cursor: pointer;
  }

  .card-container {
    position: relative;
    width: 300px;
    height: 300px;
    perspective: 500px;
    display: inline-block;
    margin-bottom: .2em;
  }

  .card-container-mini {
    position: relative;
    width: 50px;
    height: 50px;
    perspective: 500px;
    display: inline-block;
    margin-bottom: .2em;
  }


  .card-container.h:hover .front, .card-container.h.flip .front{
    transform: rotateY(180deg);
  }
  .card-container.h:hover .back, .card-container.h.flip .back{
    transform: rotateY(0deg);
  }
  .card-container.h .back{
    transform: rotateY(-180deg);
  }

  .card-container .front, .card-container .back
  {
    position:absolute;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in;
    backface-visibility: hidden;
  }
  .character-container-card {
    width: 300px;
    height: 300px;
    background-color: transparent;
    border: solid 1px black;
    border-radius: 20px;
    font-size: .8em;
    overflow: scroll;
    padding: 15px;
  }

  .character-container-card-mini {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: solid 1px black;
    border-radius: 5px;
    font-size: .2em;
    overflow: scroll;
    padding: 3px;
  }

  .character-container-card:hover {
    box-shadow: 0 0 40px gray;
  }

  .character-container-card-mini:hover {
    box-shadow: 0 0 5px gray;
  }
}