
@font-face {
  font-family: 'Code';
  src: url('/fonts/CODELight.otf')
}

@font-face {
  font-family: 'Code';
  font-weight: bold;
  src: url('/fonts/CODEBold.otf');
}

@font-face {
  font-family: 'Marvel';
  src: url('/fonts/modi_thorson/modithorsoncond.ttf');
}

@font-face {
  font-family: 'DC';
  src: url('/fonts/batmfa__.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0 auto;
  font-size: 14px;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  background-color: #454545;
  margin-bottom: .2em;
  font-family: 'Code', sans-serif;;
  text-align: center;
  color: white;
}

h1 {
  font-size: 2em;
}


input {
  border: solid 1px black;
  background-color: transparent;
  padding: 10px;
  margin: .1em;
  font-family: 'Code', sans-serif;
  height: 3em;
  color: white;
  font-size: 1em;
  text-align: center;
}

button {
  height: 3em;
  border: solid 1px black;
  background-color: transparent;
  color: white;
  font-family: 'Code', sans-serif;
  font-size: 1em;
}

.login-container button, button a {
  width: 45%;
  border-radius: 5px;
  text-decoration: none;
  font-size: inherit;
}

button:hover {
  cursor: pointer;
  color: #51b0d7;
  border-color: #51b0d7;
}


.nav-bar {
  width: 100%;
  height: 2em;
  border-bottom: solid 1px #51b0d7;
}

.nav-bar li {
  display: flex;
  float: left;
  border-right: solid 1px #51b0d7;
  width: 15%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.nav-bar li:first-child {
  border-left: 0px;
}

.nav-bar li:nth-child(even) {
  border-left: 0px;
}

.nav-bar li a {
  text-decoration: none;
  color: inherit;
  font-size: .5em;
}

.nav-bar li:hover {
  cursor: pointer;
  color: #4ed4b3;
}

.login-container {
  max-width: 40%;
  overflow: hidden;
  background-color: transparent;
  position: relative;
  z-index: 10000;
  transform: translateY(1em);
}

.login-container input {
  width: 93%;
  border-radius: 5px;
}

.content-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2em;
}

.hero-side {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.marvel {
  background: #ba3232;
  color: white;
}

.dc {
  background: #003F5E;
  color: white;
}

.hero-side:hover {
  cursor: pointer;
}

.marvel-text {
  font-family: 'Marvel', sans-serif;
}

.dc-text {
  font-family: 'DC', sans-serif;
}

h2 {
  font-size: 3em;
  z-index: 1000;
}

.image-container-marvel, .image-container-dc {
  width: 50%;
  position: absolute;
  overflow: hidden;
  height: 100%;
  text-align: center;
  opacity: 0.3;

}

.image-container-marvel img, .image-container-dc img {
  min-height: 100%;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
}

.marvel:hover {
  background: #942828;
}

.dc:hover {
  background: #002c41;
}

.index-image {
  border: solid 1px black;
  max-width: 100%;
  border-radius: 20px;
  margin-bottom: .2em;
}

.back {
  display: none;
}

.front {
  border: solid 1px black;
}


@media (min-width: 600px) {

  * {
    font-size: 16px;
  }

  .nav-bar li a {
    font-size: inherit;
  }


  .back {
    display: block;
    cursor: pointer;
  }

  .card-container {
    position: relative;
    width: 300px;
    height: 300px;
    perspective: 500px;
    display: inline-block;
    margin-bottom: .2em;
  }
  .card-container.h:hover .front, .card-container.h.flip .front{
    transform: rotateY(180deg);
  }
  .card-container.h:hover .back, .card-container.h.flip .back{
    transform: rotateY(0deg);
  }
  .card-container.h .back{
    transform: rotateY(-180deg);
  }

  .card-container .front, .card-container .back
  {
    position:absolute;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in;
    backface-visibility: hidden;
  }
  .character-container-card {
    width: 300px;
    height: 300px;
    background-color: transparent;
    border: solid 1px black;
    border-radius: 20px;
    font-size: .8em;
    overflow: scroll;
    padding: 15px;
  }

  .character-container-card:hover {
    box-shadow: 0 0 40px gray;
  }
}