<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js" charset="utf-8"></script>
<script src="/js/chart-creation.js" charset="utf-8"></script>

<div class="marvel-chart">
  <h1 class="chart-header">Marvel Gender Breakdown</h1>
  <canvas id="marvel-male-female"></canvas>
</div>
<div class="dc-chart">
  <h1 class="chart-header">DC Gender Breakdown</h1>
  <canvas id="dc-male-female"></canvas>
</div>


<div class="marvel-chart">
  <h1 class="chart-header">Marvel Eye Color Breakdown</h1>
  <p>
    *Colors are generated randomly
  </p>
  <canvas id="marvel-eye-color"></canvas>
</div>

<div class="dc-chart">
  <h1 class="chart-header">DC Eye Color Breakdown</h1>
  <p>
    *Colors are generated randomly
  </p>
  <canvas id="dc-eye-color"></canvas>
</div>