<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js" charset="utf-8"></script>
<script src="/js/chart-creation.js" charset="utf-8"></script>

<div class="marvel-chart">
  <h1>Marvel Gender Breakdown</h1>
  <canvas id="marvel-male-female"></canvas>
  <div id="marvel-gender-legend" class="chart-legend"></div>
</div>
<div class="dc-chart">
  <h1>DC Gender Breakdown</h1>
  <canvas id="dc-male-female"></canvas>
  <div id="dc-gender-legend" class="chart-legend"></div>
</div>