<form action='/products' method='post'>
  <input type='text' name='type' placeholder='Type'>
  <input type='number' name='price' placeholder='Price'>
  <input type='number' name='stock' placeholder='Stock'>
  <input type='text' name='description' placeholder='Description'>
  <button>Add New Product</button>
</form>
